div.landing-card {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Baskerville, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    backdrop-filter: blur(2px);
    justify-content: center; 
    display: flex;
    align-content: center;
    box-shadow: 5px 5px 15px black;
}
div.landing-large-text {
    font-size: clamp(1.5rem, 2.5vw, 5rem);
}
p.landing-normal-text{
    font-size: clamp(1rem, 2.0vw, 2rem);
}

div.landing-card:hover {
    background-color: rgba(76, 76, 76, 0.8);
}

div.landing-small-tile {
    width: 48%;
    margin: 1%;
    padding: 2%;
}

div.landing-background {
        background-size: "cover";
        background-position: "center";
        min-height: "100%" ;
        width: "100%" ;
}

a.light-blue {
    color: rgba(215, 229, 240)
}

h2.animate-text {
    font-family: Baskerville, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.landing-modal{
    font-family: 'Optima', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
    font-size: clamp(1.3rem, 2.5vw, 5rem);
    border: 0px;
}

div.content-background{
    font-family: 'Optima', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2D3436;
}
div.content-surface{
    background-color: #636E72;
}