div.landing-card {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Baskerville, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    backdrop-filter: blur(2px);
    justify-content: center; 
    display: flex;
    align-content: center;
    box-shadow: 5px 5px 15px black;
}
h5 {
    font-size: 1.5em !important
}
h1 {
    font-size: 2em !important;
}
h2 {
    font-size: 1.2em !important;
}

div.landing-card:hover {
    background-color: rgba(76, 76, 76, 0.8);
}

div.landing-small-tile {
    width: 48%;
    margin: 1%;
    padding: 2%;
}

div.landing-background {
        background-size: "cover";
        background-position: "center";
        min-height: "100%" ;
        width: "100%" ;
}

a.light-blue {
    color: rgba(215, 229, 240)
}

h2.animate-text {
    font-family: Baskerville, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}